# **Chapter3 그리디**

### **당장 좋은 것만 선택하는 그리디**

In [ ]:
# 예제 3-1 거스름돈 (내풀이)
n = 1260
x, n = n // 500, n % 500
y, n = n // 100, n % 100
z, n = n // 50, n % 50
q = n // 10
print(f'500원 {x}개, 100원 {y}개, 50원 {z}개 10원 {q}개')

500원 2개, 100원 2개, 50원 1개 10원 1개

In [ ]:
# 예제 3-1 거스름돈 (답안 예시)
n = 1260 
count = 0

coin_type = [500, 100, 50, 10]
for coin in coin_type:
    count += n // coin
    n %= coin

print(count)

6

### **큰 수의 법칙**

In [ ]:
# 내 풀이 
n, m, k  = map(int, input().split())
data = list(map(int, input().split()))

data.sort()

result = 0
i = 0
while True:
    for _ in range(k):
        if i >= m:
          break
        result += data[-1]
        i += 1
    if i >= m:
        break
    result += data[-2]
    i += 1

print(result)

5 8 3
2 4 5 4 6
46

In [ ]:
# 단순하게 푸는 답안 예시
n, m, k  = map(int, input().split())
data = list(map(int, input().split()))

data.sort()
first = data[n-1]
second  = data[n-2]

result = 0
while True:
    for i in range(k):
        if m == 0:
            break
        result += first
        m -= 1
    if m == 0:
        break
    result += second
    m -= 1

print(result)

5 8 3
2 4 5 4 6
46

In [ ]:
# 답안 예시
n, m, k  = map(int, input().split())
data = list(map(int, input().split()))

data.sort() # 정렬
first = data[n - 1] # 가장 큰 수
second = data[n - 2] # 두 번째로 큰 수

# 가장 큰 수가 더해지는 횟수 계산
count = int(m/(k + 1)) * k
count += m % (k + 1)

result = 0
result += (count) * first # 가장 큰 수 더하기
result += (m - count) * second # 두 번째로 큰 수 더하기

print(result)

5 8 3
2 4 5 4 6
46

##### 자체 피드백
for 문을 사용한다는건 알고리즘 문제에서 좋지 않은것 같다.  
최대한 for문을 적게 사용하는 방법을 사용하는게 필요하다.  
간단한 수학적 방법을 통해 원하는 값을 도출하도록 노려하자.

In [ ]:
# 내 풀이 추가
n, m, k = map(int, input().split())
data = list(map(int, input().split()))

data.sort()
first = data[-1]
second = data[-2]

routine = first * k + second
r = m // (k + 1)
l = m % (k + 1)

result = r * routine + l * first
print(result)

5 8 3
2 4 5 4 6
46

### **숫자 카드 게임**

In [ ]:
# 내 풀이
n, m = map(int, input().split())

matrix = []
for _ in range(n):
    row = list(map(int, input().split()))
    row.sort()
    matrix.append(row)

result = []
for i in matrix:
    result.append(i[0])

print(max(result))

2 4
7 3 1 8
3 3 3 4
3

In [ ]:
# min 함수를 이용하는 답안
n, m = map(int, input().split())

result = 0
for i in range(n):
    data = list(map(int, input().split()))
    min_value = min(data)
    result = max(result, min_value)

print(result)

3 3
3 1 2
4 1 4
2 2 2
2

In [ ]:
# 2중 반복문 구조를 이용하는 답안
n, m = map(int, input().split())

result = 0
for i in range(n):
    data = list(map(int, input().split()))
    min_value = 10001
    for a in data:
        min_value = min(min_value, a)
print(result)

3 3
3 1 2
4 1 4
2 2 2
2

##### 자체 피드백
입력단의 접근은 답안과 동일했으나 출력 부분의 접근에서 불필요한 for문이 사용된것 같다.  
필요없는 for 문을 줄이는 것을 항상 목표로 하자.

In [ ]:
# 내 풀이 추가
n, m = map(int, input().split())

tmp = []
for _ in range(n):
    row = list(map(int, input().split()))
    min_value = min(row)
    tmp.append(min_value)
    
print(max(tmp))

2 4
7 3 1 8
3 3 3 4
3

### **1이 될때까지**
자체 피드백  
답안과 나의 풀이가 접근 방식이 많이 달라, 자체 피드백을 진행하기에 어려움이 있다.  
답안은 나눗셈을 직접 진행한 반면, 나는 거듭제곱을 이용해 풀이했다.

In [13]:
# 내 풀이
n, k = map(int, input().split())

if n < k:
    print(n-1)
else:
    i = 1
    result = 0
    while True:
        if k**i <= n < k**(i+1):
            result += i
            result += (n - k**i)
            print(result)
            break
        else:
            i += 1

2 2
1

In [9]:
# 단순하게 푸는 답안 예시
n, k = map(int, input().split())
result = 0

# N이 K 이상이라면 K로 계속 나누기
while n >= k:
    while n % k != 0:
        n -= 1
        result += 1
    n //= k
    result += 1

while n > 1:
    n -= 1
    result += 1
print(result)

25 5
2

In [14]:
# 답안 예시
n, k = map(int, input().split())
result = 0

while True:
    target = (n//k) * k
    result += (n-target)
    n = target
    if n < k:
        break
    result += 1
    n //= k

result += (n - 1)
print(result)

17 4
3